# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
*.smdh
*.3dsx
*.elf

3ds-vgmstream.layout
libs/libmpg123
libs/libvgmstream
libs/libogg
libs/libvorbis
libs/mpg123/bin
libs/mpg123/share
libs/ogg/share
libs/vorbis/share
libs/ogg/lib/pkgconfig
libs/vorbis/lib/pkgconfig
libs/mpg123/lib/pkgconfig
